<div ng-controller='TableViewCtrl'>
    <h1>UI Table View Demo</h1>
    <h2>Items length: {{list.length}}</h2>
    <mlz-ui-table-view list="list" style="width:320px; height: 455px; border: 1px solid #eee" row-height="100" buffer-size="10">
        <div id="{{item.$$position}}" ng-repeat="item in items track by item.$$position">
            <dt ng-bind="item.name"></dt>
            <dd ng-bind="item.details"></dd>
            <button ng-click="deleteItem(item.$$index)">Delete Me {{item.$$index}} {{item.$$position}}</button>
        </div>
    </mlz-ui-table-view>
</div>